[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
 
[packages]
openai = "==1.35.7"
python-dotenv = "==1.0.0"
azure-identity = "==1.17.1"
 
[dev-packages]
 
[requires]
python_version = "3.11"